<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="300" alt="Skills Network Logo">
    </a>
</p>


# Working with Variables and Expressions in Python


Estimated time needed: **10** minutes
    

## Objectives

After completing this lab you will be able to:

* Use expressions and variables to perform operations

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>
            <a href="#Expressions-and-Variables">Expressions and Variables</a>
            <ul>
                <li><a href="#Expressions">Expressions</a></li>
                <li><a href="#Exercise:-Expressions">Exercise: Expressions</a></li>
                <li><a href="#Variables">Variables</a></li>
                <li><a href="#Exercise:-Expression-and-Variables-in-Python">Exercise: Expression and Variables in Python</a></li>
            </ul>
        </li>
    </ul>
</div>

<hr>

## Expressions and Variables

### Expressions

<p>Expressions in Python can include operations among compatible types (e.g., integers and floats). For example, basic arithmetic operations like adding multiple numbers:</p>

In [1]:
# Addition operation expression

43 + 60 + 16 + 41

160

<p>We can perform subtraction operations using the minus operator. In this case the result is a negative number:</p>

In [2]:
# Subtraction operation expression

50 - 60

-10

<p>We can do multiplication using an asterisk:</p>

In [3]:
# Multiplication operation expression

5 * 5

25

<p>We can also perform division with the forward slash:

In [4]:
# Division operation expression

25 / 5

5.0

In [5]:
# Division operation expression

25 / 6

4.166666666666667

<p>As seen in the quiz above, we can use the double slash for integer division, where the result is rounded down to the nearest integer:

In [6]:
# Integer division operation expression

25 // 5

5

In [7]:
# Integer division operation expression

25 // 6

4

<p>Let's write an expression that calculates how many hours there are in 160 minutes:

In [8]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
160//60

2

<p>Python follows well accepted mathematical conventions when evaluating mathematical expressions. In the following example, Python adds 30 to the result of the multiplication (i.e., 120).

In [9]:
# Mathematical expression

30 + 2 * 60

150

<p>And just like mathematics, expressions enclosed in parentheses have priority. So the following multiplies 32 by 60.

In [10]:
# Mathematical expression

(30 + 2) * 60

1920

### Variables

<p>Just like with most programming languages, we can store values in <i>variables</i>, so we can use them later on. For example:</p>

In [11]:
# Store value into variable

x = 43 + 60 + 16 + 41

<p>To see the value of <code>x</code> in a Notebook, we can simply place it on the last line of a cell:</p>

In [12]:
# Print out the value in variable

x

160

<p>We can also perform operations on <code>x</code> and save the result to a new variable:</p>

In [13]:
# Use another variable to store the result of the operation between variable and value

y = x / 60
y

2.6666666666666665

<p>If we save a value to an existing variable, the new value will overwrite the previous value:</p>

In [14]:
# Overwrite variable with new value

x = x / 60
x

2.6666666666666665

<p>It's a good practice to use meaningful variable names, so you and others can read the code and understand it more easily:</p>

In [15]:
# Name the variables meaningfully

total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min

142

In [16]:
# Name the variables meaningfully

total_hours = total_min / 60 # Total length of albums in hours
total_hours

2.3666666666666667

<p>In the cells above we added the length of three albums in minutes and stored it in <code>total_min</code>. We then divided it by 60 to calculate total length <code>total_hours</code> in hours. You can also do it all at once in a single expression, as long as you use parenthesis to add the albums length before you divide, as shown below.</p>

In [17]:
# Complicate expression

total_hours = (43 + 42 + 57) / 60  # Total hours in a single expression
total_hours

2.3666666666666667

<p>If you'd rather have total hours as an integer, you can of course replace the floating point division with integer division (i.e., <code>//</code>).</p>

### Exercise: Expressions in Python

Write an expression to add 30 and 20 and subtract 40

In [18]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
x=30+20-40
x

10

<details><summary>Click here for the solution</summary>

```python
30+20-40
# This will print 10

```

</details>

Write an expression to subtract 5 from 55 and divide the result by 10

In [19]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
x=55-5/10
x

54.5

<details><summary>Click here for the solution</summary>

```python
(55-5)/10
# This will print 5.0

```

</details>

Write an expression to multiply 6 with 10 and divide the result by 12

In [20]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
x=(6*10)/12
x

5.0

<details><summary>Click here for the solution</summary>

```python
(6*10)/12
# This will print 5.0

```

</details>

### Exercise:Variables in Python

<p>What is the value of <code>x</code> where <code>x = 3 + 2 * 2</code></p>

In [21]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
x=3+2*2
x

7

<details><summary>Click here for the solution</summary>

```python

x = 3 + 2 * 2
x
# This will print 7

```

</details>

<p>What is the value of <code>y</code> where <code>y = (3 + 2) * 2</code>?</p>

In [22]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
y=(3+2)*2
y

10

<details><summary>Click here for the solution</summary>

```python

y = (3 + 2) * 2
y
# This will print 10

```

</details>

<p>What is the value of <code>z</code> where <code>z = x + y</code>?</p>

In [23]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
z=x+y
z

17

<details><summary>Click here for the solution</summary>

```python
z = x + y
z
# This will print 17

```

</details>