In [1]:
# Create a list

L = ["The Bodyguard", 7.0, 1992]
L

['The Bodyguard', 7.0, 1992]

In [2]:
print('the same element using negative and positive indexing:\n Postive:',L[0],
'\n Negative:' , L[-3]  )
print('the same element using negative and positive indexing:\n Postive:',L[1],
'\n Negative:' , L[-2]  )
print('the same element using negative and positive indexing:\n Postive:',L[2],
'\n Negative:' , L[-1]  )

the same element using negative and positive indexing:
 Postive: The Bodyguard
 Negative: The Bodyguard
the same element using negative and positive indexing:
 Postive: 7.0
 Negative: 7.0
the same element using negative and positive indexing:
 Postive: 1992
 Negative: 1992

In [1]:
tuple1 = ("disco",10,1.2 )
tuple1

tuple

In [2]:
type(tuple1)

tuple

In [3]:
tuple1[-1]

1.2

In [4]:
# Concatenate two tuples

tuple2 = tuple1 + ("hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

In [5]:
# Slice from index 0 to index 2

tuple2[0:3]

('disco', 10, 1.2)

In [6]:
# Sort the tuple
Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)
RatingsSorted = sorted(Ratings)
RatingsSorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

In [7]:
# Create a nest tuple

NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))

In [8]:
print("Element 0 of Tuple: ", NestedT[0])
print("Element 1 of Tuple: ", NestedT[1])
print("Element 2 of Tuple: ", NestedT[2])
print("Element 3 of Tuple: ", NestedT[3])
print("Element 4 of Tuple: ", NestedT[4])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('pop', 'rock')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('disco', (1, 2))

In [9]:
genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco")
genres_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

In [10]:
A = [1]
A.append([2, 3, 4, 5])
len(A)

2